.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

img {
    width: 40vh;
    object-fit: cover;
}

h2 {
    margin-bottom: 0;
}

.source {
    font-size: 11px;
    color: #b8b8b8;
    margin: 0;
}