.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
    background-color: #694d16;
}

#issButton {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px;
    z-index: 400;
    background-color: #c1860f;
}